* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*variables*/
	--blancoTransparente: rgba(255, 255, 255, 0.5);
	--negro: rgb(36, 30, 32);
	--grisBorde: rgb(57, 57, 57);
	--naranjaTransparente: rgba(247, 105, 0, 0.28);
	--naranja: rgb(247, 105, 0);
	--naranjaFondo: #ffbd7191;
}
/* body */
#body {
	overflow-x: hidden;
}

/* light theme */
.transicion {
	transition: background 0.2s linear;
}

/* menu */

.menu-list {
	list-style: none;
	display: grid;
	position: fixed;
	grid-template-columns: repeat(3, 33vw);
	z-index: 1;
}

.menu-list .menu-item {
	text-align: center;
	margin-top: 2px;
	padding: 10px;
	border-bottom: 1px solid var(--grisBorde);
	background-color: var(--blancoTransparente);
}

.menu-list .menu-item a {
	text-decoration: none;
	color: var(--negro);
}

/* contenedor */
.contenedor {
	width: 100%;
	height: 100%;
}

/* imagen de fondo*/

.caja-padre {
	width: 100%;
	height: 120vh;
	position: relative;
}

.caja {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.caja .img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

/* icono */
.divIcono {
	margin-top: 100px;
}

.icono {
	width: 15%;
}

.titulo {
	font-size: 50px;
}

/* btn descargar */

.descarga {
	margin-top: 35px;
	text-align: center;
	font-size: 38px;
	z-index: 5;
}

.descarga a {
	text-decoration: none;
	padding: 20px 80px;
	background-color: var(--naranjaTransparente);
	color: var(--negro);
	--borde: 5px;
	border-radius: var(--border);
	-moz-border-radius: var(--borde);
	-webkit-border-radius: var(--borde);
	border: 1px solid var(--negro);
	-webkit-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
}

/* about */

#about {
	position: relative;
	margin-top: 20%;
}

#about h1 {
	color: var(--naranja);
	text-align: right;
	margin-right: 30px;
	font-size: 30px;
}

.rejilla {
	display: grid;
	grid-template-columns: repeat(2, 40%);
	grid-gap: 10vw;
	margin-left: 100px;
}

.rejilla .acerca-de {
	background: white;
	width: 100%;
	height: 200px;
	border: 1px solid black;
	-webkit-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
}

/*carousel show*/

.carousel {
	min-width: 800px !important;
}

.carousel .carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 800px;
	height: 800px;
}

.carousel .carousel-item .nombre {
	position: relative;
	bottom: 0px;
	margin-top: 250px;
	text-align: center;
}
.carousel .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 90px;
}

.carousel .indicators .indicator-item {
	background-color: var(--negro) !important;
	margin: 0 15px !important;
}

.carousel .indicators .indicator-item.active {
	background-color: var(--naranja) !important;
}

/* contact */

#contact h1 {
	text-align: center;
	font-size: 30px;
	color: var(--naranja);
	font-weight: bold;
}

.principal {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.gris {
	background-color: var(--naranjaTransparente);
}
.cartas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	grid-gap: 20px;
	width: 95%;
	position: absolute;
	margin-left: 25px;
}

.cartas .carta {
	background-color: white;
	border: 1px solid black;
	text-align: left;

	-webkit-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.17);
}
.carta p {
	font-size: 10px;
}
.carta p .local {
	font-size: 17px;
}
.carta p i {
	line-height: 4;
	font-size: 3em;
	padding-right: 10%;
	margin-left: 1em;
}

.carta h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.carta a {
	color: #42444f;
	font-size: 20px;
}
.md-10 {
	margin-bottom: 150px;
}

#contact {
	margin-left: 0.5em;
	margin-bottom: 2.5em;
	height: 800px;
	width: 100%;
	position: absolute;
}

div .back {
	background-color: #ffbd7191;
	position: absolute;
	height: 700px;
	width: 50%;
	top: 5%;
	margin-left: 50%;
	z-index: -1;
}

/* btn change theme */
.boton {
	position: fixed;
	right: 0;
	bottom: 0;
}
