/* dark theme */
body.dark {
  --darkGrisClaro: #707070;
  --dark: #42444f;
  --darkBlanco: rgb(228, 228, 228);
  --darkNaranjaClaro: #ffcfaa;
  background-color: var(--dark);
  transition: all 0.3;
}

body.dark .descarga a,
body.dark .titulo {
  color: var(--darkBlanco);
}

body.dark .rejilla .acerca-de {
  background-color: var(--darkGrisClaro);
}

body.dark .cartas .carta {
  background-color: var(--dark);
}

body.dark .carousel .carousel-item .nombre {
  color: white;
}

body.dark .cartas .carta h3 {
  color: var(--darkNaranjaClaro);
}

body.dark .cartas .carta p a,
body.dark .cartas .carta p {
  color: white;
}

body.dark div .back {
  background: var(--darkGrisClaro);
}


